/* STORIES */
.stories {
    margin-top:13.5em;
}

.story {
    background-repeat:no-repeat;
    background-attachment:center;
    background-position:top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    width:100%;
    font-family:'Open Sans',Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #333;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.overlay {
    width: 100%;
    height: 200px;
    position: relative;
    padding: 0 1em;
    overflow: auto;
    background-color: rgba(0,0,0,.55);
    border-top: 1px solid #ccc;
}

.title {
    font-size: 3em;
    font-family: Garamond;
    font-weight: bold;
    position:relative;
    margin-top: 2%;
    text-align: center;
}

.tldr {
    position:absolute;
    text-align:right;
    bottom: 0px;
    right:10px;
    font-size:2em;
    font-family:"Courier New",Courier,serif;
    margin-bottom: 15px;
}

.title:hover, .tldr:hover, .overlay:hover {
    cursor: pointer;
}

.article {
    display: none;
    background-color: rgba(28, 28, 28, .75);
    padding: 10px 0;
}

.newstext {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    text-align: left;
    line-height: 170%;
    text-indent: 2em;
}

.share ul {
    list-style-type: none;
}

.share li {
    display: inline;
    padding-right: 10px;
}

.share {
    text-align: center;
}

.share li a i:hover {
    color: #fff;
}

.share li a i {
    font-size: 2em;
    color:rgba(224, 224, 224,1);
}


