.menubar {
  position:relative;
  top:0px;
  width:100%;
  height: 5em;
  background-color:black;
  text-align:center;
  overflow: hidden;
  z-index:5;
}

#logo {
  text-align:center;
  top:0px;
  height: 95%;
}

/* TAG BAR */
.tagbar {
  position: relative;
  background-color: rgba(240, 240, 240, 1);
  width: 100% !important;
  margin: 0px;
  height: 8.5em;
  overflow: auto;
}

.tag_area {
  width: 80em;
  display: block;
  margin: 0 auto;
  line-height: 3.4em;
  padding: 10px 0 10px 0;
  overflow: auto;
}

.tag_area .row1, .tag_area .row2 {
  width: 100%;
  height: 3em;
  text-align: center;
  padding:0;
  margin: 0;
}

.tags {
  padding: 5px;
  margin: 10px 5px 5px 5px;
  background-color: rgba(0, 150, 220, 0);
  border: 1px solid rgba(0, 150, 220, 1);
  border-radius: 4px;
  font-family: "Helvetica-Neue", Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  line-height: 1em;
  text-decoration: none;
  color: rgba(0, 150, 220, 1);
  display: inline-block;
}

.tags:hover {
  background-color: rgba(0, 150, 220, 1);
  border: 1px solid rgba(0, 150, 220, 1);
  border-radius: 4px;
  font-family: "Helvetica-Neue", Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  text-decoration: none;
  color: rgba(250, 250, 250, 1);
  display: inline;
  cursor: pointer;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.tags.selected {
  background-color: rgba(0, 150, 220, 1);
  border-color: rgba(0, 150, 220, 1);
  color: #fff;
}

.tags.unselected {
  background-color: rgba(0, 150, 220, 0);
  border-color: rgba(0, 150, 220, 1);
  color: rgba(0, 150, 220, 1);
}

.tags.unselected .fa-check {
  display: none;
}
