body {
	background-color: rgba(240, 240, 240, 1);
	font-family: "Helvetica-Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 200;
}

@media all and (max-width: 750px)  {
	.filterbox {
		clear: both;
		height: 50px !important;
		top: 110px !important;
		width: 100% !important;
		left: 0px !important;
		background-color: rgba(230, 230, 230, 1) !important;
		z-index: 5;
	}

	.tag_area {
		position: absolute;
		top: 15px;
		height: 70px;
		left: 0px !important;
		width: 100%;
		margin: auto !important;
		line-height: 3.4em;
		margin-left: 0px;
		border: 2px solid red !important;
		z-index:5;
	}
}


.footer {
	position:fixed;
	bottom:0px;
	height:30px;
	width:100%;
	background-color:black;

}
.footer p {
	float:left;
	color:rgb(224, 224, 224);
	margin-left:10px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.75em;
	padding-top: 10px;
}
.footer .nav ul {
	float:right;
	margin-right:10px;
	margin-top:7px;
}

.footer .nav ul li {
	display:inline;
	padding-left:0.5em;
  	padding-right:0.5em;
  	padding-bottom:5px;
}

.footer .nav ul li a {
	font-size:1em;
  	color:rgb(224, 224, 224);
  	text-decoration:none;
  	text-transform:uppercase;
  	font-family:'Open Sans', sans-serif;
 }

.footer .nav ul li a:hover{
	color:white;
}
