body {
	background-color: #FFFFFF;
	font-family: "Helvetica-Neue", Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: 200;
}

@media all and (max-width: 750px)  {
	.filterbox {
		clear: both;
		height: 50px !important;
		top: 110px !important;
		width: 100% !important;
		left: 0px !important;
		background-color: rgba(230, 230, 230, 1) !important;
	}
	.tag_area {
		position: absolute;
		top: 15px;
		height: 70px;
		left: 0px !important;
		width: 100%;
		margin: auto !important;
		line-height: 3.4em;
		margin-left: 0px;
		boreder: 2px solid red !important;
	}
}



.tagbar {
	position: fixed;
	background-color: rgba(240, 240, 240, 1);
	width: 100% !important;
	height: 100px !important;
	top: 50px;
	left: 0px;
	margin: 0px;
	padding: 5px;
}

.filterbox {
	position: absolute;
	height: 50px !important;
	top: 100px !important;
	width: 100% !important;
	left: 0px !important;
	background-color: rgba(230, 230, 230, 1) !important;
	border: 1px solid rgba(120, 120, 120, 0.1);
	border-left: 0px solid;
}

.tag_area {
	position: absolute;
	top: 15px;
	height: 70px;
	left: 0px !important;
	width: 100%;
	margin: auto !important;
	line-height: 3.4em;
	margin-left: 0px;
}

.tags {
	top: 10px;
	padding: 5px 4%;
	margin: 20px 1%;
	background-color: rgba(0, 150, 220, 0);
	border: 1px solid rgba(0, 150, 220, 1);
	border-radius: 4px;
	font-family: "Helvetica-Neue", Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: 200;
	text-decoration: none;
	color: rgba(0, 150, 220, 1);
	display: inline;
}

.tags:hover {
	background-color: rgba(0, 150, 220, 1);
	border: 1px solid rgba(0, 150, 220, 1);
	border-radius: 4px;
	font-family: "Helvetica-Neue", Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: 200;
	text-decoration: none;
	color: rgba(250, 250, 250, 1);
	display: inline;
}

.filter_input {
	margin: auto;
	left: 5%;
	width: 68%;
	margin-top: 2px;
	height: 45px;
	border: none;
	background-color: rgba(0,0,0,0);
	font-family: "Helvetica-Neue", Helvetica, sans-serif;
	font-size: 1.3em;
	color: rgba(0, 150, 220, 1);
	text-align: center;
}

.clear_button {
	position: absolute;
	top: 15px;
	right: 50px;
	display: none;
	opacity: 0.5;
}

.stories {
	margin-top:200px;
}

.stories div{
	/*background-image:url(~~~~~~~~~~~)*/
	background-repeat:center;
	background-attachment:center;
	background-position:center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:100%;
	width:100%;
	/*height:~~~~~~~~~~~~*/
	text-align:center;
	font-family:'Open sans',Helvetica,Arial,sans-serif;
	color:white;
	vertical-align:middle;
	padding:0px;
	border-top:10px solid rgba(102,102,102,1);
	border-bottom:10px solid rgba(102,102,102,1);
	margin-top: 150px;
	margin:0px;
	border-top:2px solid white;
	border-bottom:2px solid white;
}

.title {
	font-size:3em;
	vertical-align:middle;
	padding:0px;
	margin:0px;
	z-index:5;
	color:white;
}

.tldr {
	font-size:1em;
	vertical-align:middle;
	padding:0px;
	margin:0px;
}

.article {
	display:none;
}
/*
.overlay div{
	width:100%;
	height:~~~~~
	background-color:black;
	opacity:0.5;
}
*/
.overlay1 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height: 300px;
}

.overlay1:hover {
	background-color:rgba(0,0,0,0);

}

.overlay2 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:100px;
}

.overlay2:hover{
	background-color:rgba(0,0,0,0);
}

.overlay3 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:500px;
}

.overlay3:hover{
	background-color:rgba(0,0,0,0);
}

.overlay4 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:200px;
}

.overlay4:hover{
	background-color:rgba(0,0,0,0);
}

.overlay5 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:100px;
}

.overlay5:hover {
	background-color:rgba(0,0,0,0);
}

.overlay6 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:200px;
}

.overlay6:hover{
	background-color:rgba(0,0,0,0);
}
#story1 {
	background-image:url('https://ununsplash.imgix.net/photo-1415226620463-aedee27159c5?q=75&fm=jpg&s=a455a083c2fcff54c2127af43cdcacc5');
	min-height:300px;
}

#story2 {
	background-image:url('http://timedotcom.files.wordpress.com/2014/09/hong-kong-protests-6.jpg?w=1680');
	min-height:100px;
}

#story3 {
	background-image:url('http://www.vosizneias.com/wp-content/uploads/2012/09/Obama-United-Nations_sham.jpg');
	min-height:500px;
}

#story4 {
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/a/a5/PFLP-group-1969.jpg');
	min-height:200px;
}

#story5 {
	background-image:url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/2/10/1392050404364/Pancreatic-cancer-cells-014.jpg');
	min-height:100px;
}

#story6 {
	background-image:url('http://www.who.int/csr/disease/ebola/global_ebolaoutbreakrisk_20140818-1.png?ua=1');
	min-height:200px;
}

.menubar {
	position:fixed;
	top:0px;
	height: 50px;
	width:100%;
	background-color:black;
	text-align:center;
}

#logo {
	text-align:center;
	top:0px;
	height:100%;

}
.footer {
	position:fixed;
	bottom:0px;
	height:30px;
	width:100%;
	background-color:black;

}
.footer p {
	float:left;
	color:rgb(224, 224, 224);
	margin-left:10px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.75em;
}
.footer .nav ul {
	float:right;
	margin-right:10px;
	margin-top:7px;
}

.footer .nav ul li {
	display:inline;
	padding-left:0.5em;
  	padding-right:0.5em;
  	padding-bottom:5px;
}
.footer .nav ul li a {
	font-size:1em;
  	color:rgb(224, 224, 224);
  	text-decoration:none;
  	text-transform:uppercase;
  	font-family:'Open Sans', sans-serif;
 }
.footer .nav ul li a:hover{
	color:white;
} 
