body {
	background-color: rgba(240, 240, 240, 1);
	font-family: "Helvetica-Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 200;
}

@media all and (max-width: 750px)  {
	.filterbox {
		clear: both;
		height: 50px !important;
		top: 110px !important;
		width: 100% !important;
		left: 0px !important;
		background-color: rgba(230, 230, 230, 1) !important;
		z-index: 5;
	}

	.tag_area {
		position: absolute;
		top: 15px;
		height: 70px;
		left: 0px !important;
		width: 100%;
		margin: auto !important;
		line-height: 3.4em;
		margin-left: 0px;
		border: 2px solid red !important;
		z-index:5;
	}
}

/* STORIES */
.stories {
	margin-top:13.5em;
}

.story{
	/*background-image:url(~~~~~~~~~~~)*/
	background-repeat:no-repeat;
	background-attachment:center;
	background-position:center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:100%;
	width:100%;
	/*height:~~~~~~~~~~~~*/
	text-align:center;
	font-family:'Open Sans',Helvetica,Arial,sans-serif;
	color:white;
	vertical-align:middle;
	padding:0px;
	margin:0px;
	z-index:-1;
}

.story:first-child {
	border-top: 3px solid rgba(240, 240, 240, 1);

}


.title {
	font-size:3em;
	font-family: Garamond;
	font-weight: bold;
	position:relative;
	top:31%;

}

.tldr {
	position:absolute;
	text-align:right;
	bottom: 0px;
	right:10px;
	font-size:2em;
	font-family:"Courier New",Courier,serif;
	margin-bottom: 0px;
}

.overlay{
	width:100%;
	background-color:rgba(0,0,0,.5);
	position:relative;
	height:200px;
	z-index:4;
}


.article {
	display:none;
	background-color:rgba(28, 28, 28, 1);
	border-top: 10px solid rgba(28, 28, 28, 1);
	border-bottom: 5px solid rgba(28, 28, 28, 1);

}

.newstext {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 1.5em;
	text-align: left;
	line-height: 170%;
	text-indent: 2em;
}

.share {
	text-align: right;

}

.share ul li {
	display: inline;
	padding-right: 10px;

}
.share ul li a i:hover {
	color:white;
}
.share ul li a i{
	font-size: 2em;
	color:rgba(224, 224, 224,1);
}

/*
#overlay1 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height: 300px;
}

#overlay2 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:100px;
}

#overlay3 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:500px;
}

#overlay4 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:200px;
}

#overlay5 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:100px;
}

#overlay6 {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:200px;
}


#story1 {
	background-image:url('https://ununsplash.imgix.net/photo-1415226620463-aedee27159c5?q=75&fm=jpg&s=a455a083c2fcff54c2127af43cdcacc5');
	min-height:300px;
}

#story2 {
	background-image:url('http://timedotcom.files.wordpress.com/2014/09/hong-kong-protests-6.jpg?w=1680');
	min-height:100px;
}

#story3 {
	background-image:url('http://www.vosizneias.com/wp-content/uploads/2012/09/Obama-United-Nations_sham.jpg');
	min-height:500px;
}

#story4 {
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/a/a5/PFLP-group-1969.jpg');
	min-height:200px;
}

#story5 {
	background-image:url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/2/10/1392050404364/Pancreatic-cancer-cells-014.jpg');
	min-height:100px;
}

#story6 {
	background-image:url('http://www.who.int/csr/disease/ebola/global_ebolaoutbreakrisk_20140818-1.png?ua=1');
	min-height:200px;
}
*/


.footer {
	position:fixed;
	bottom:0px;
	height:30px;
	width:100%;
	background-color:black;

}
.footer p {
	float:left;
	color:rgb(224, 224, 224);
	margin-left:10px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.75em;
	padding-top: 10px;
}
.footer .nav ul {
	float:right;
	margin-right:10px;
	margin-top:7px;
}

.footer .nav ul li {
	display:inline;
	padding-left:0.5em;
  	padding-right:0.5em;
  	padding-bottom:5px;
}

.footer .nav ul li a {
	font-size:1em;
  	color:rgb(224, 224, 224);
  	text-decoration:none;
  	text-transform:uppercase;
  	font-family:'Open Sans', sans-serif;
 }

.footer .nav ul li a:hover{
	color:white;
}